{% extends "master.html.twig" %}

{% block meta %}
    {% include "SuluWebsiteBundle:Extension:seo.html.twig" with {
        "seo": extension.seo|default([]),
        "content": content|default([]),
        "urls": urls|default([]),
        "shadowBaseLocale": shadowBaseLocale|default(),
        "defaultLocale": request.defaultLocale|default('en')
    } %}
{% endblock %}

{# https://github.com/sulu/sulu-demo/blob/master/app/Resources/templates/pages/homepage.xml #}
{# https://github.com/sulu/sulu-demo/blob/master/src/AppBundle/Resources/views/includes/slider.html.twig #}
{# https://github.com/sulu/sulu-demo/blob/master/src/AppBundle/Resources/views/templates/homepage.html.twig #}

{% block content %}
    {% if  content.slides is not empty %}
        <section>
            <div id="home-slide" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for slide in content.slides if slide.mediaId is not null %}
                        {% set image = sulu_resolve_media(slide.mediaId, request.locale) %}
                        <div class="carousel-item {{ loop.first ? 'active' }}">
                            <img data-speed="1" class="img-parallax d-block w-100" src="{{ image.formats['1110x350'] }}" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="{{ sulu_content_path(slide.url) }}">
                                    <h1>{{ slide.title }}</h1>
                                </a>
                                {{ slide.description|raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#home-slide" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#home-slide" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </section>
    {% endif %}

    <section id="homepage_presentation" property="presentation">
        {{ content.presentation|raw }}
    </section>

{% endblock %}
