<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block meta %}{% endblock %}

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/lib/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/lib/fontawesome-all.css" />
        <link rel="stylesheet" href="/assets/css/custom/mukhuri.css" />
        <link rel="stylesheet" href="/assets/css/custom/responsive.css" />
        <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh">

        {% block style %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header class="text-center">
                {% block header %}
                    <a href="{{ sulu_content_root_path() }}" class="d-none d-sm-block">
                        <img class="logo" src="/assets/img/logo.png" alt="logo">
                    </a>
                    <nav id="mainNavigation" class="navbar navbar-expand-sm navbar-light">
                        <a  class="navbar-brand d-sm-none"
                            href="{{ sulu_content_root_path() }}">
                            <img class="logo" src="/assets/img/logo_text.png" alt="logo">
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">

                                {% for item in sulu_navigation_root_tree('main') %}
                                    <li class="nav-item">
                                        <a  class="nav-link {{ uuid == item.uuid ? 'active' }}"
                                            href="{{ sulu_content_path(item.url) }}"
                                            title="{{ item.title }}">{{ item.title }}</a>
                                    </li>
                                {% endfor %}

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.locale }}</a>
                                    <div class="dropdown-menu">
                                        {% for key, value in urls if key != request.locale %}
                                            {% set itemUrl = sulu_content_path(value, request.webspaceKey, key)|default('') %}
                                            {% if itemUrl is not empty %}
                                                <a class="dropdown-item" href="{{ itemUrl }}">{{ key|upper }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>

                {% endblock %}
            </header>

            <div id="content" vocab="http://schema.org/" typeof="Content">
                {% block content %}{% endblock %}
            </div>

            <footer>
                {% block footer %}
                    <hr>
                    <div class="row">
                        <div class="col">
                            <a href="{{ sulu_content_root_path() }}">
                                <img class="logo" src="/assets/img/logo_text.png" alt="logo">
                            </a>
                        </div>
                        <div class="col-6 d-none d-md-block">
                            <nav>
                                <ul class="nav">

                                    {% for item in sulu_navigation_root_tree('main') %}
                                        <li class="nav-item">
                                            <a  class="nav-link {{ uuid == item.uuid ? 'active' }}"
                                                href="{{ sulu_content_path(item.url) }}"
                                                title="{{ item.title }}">{{ item.title }}</a>
                                        </li>
                                    {% endfor %}

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.locale }}</a>
                                        <div class="dropdown-menu">
                                            {% for key, value in urls if key != request.locale %}
                                                {% set itemUrl = sulu_content_path(value, request.webspaceKey, key)|default('') %}
                                                {% if itemUrl is not empty %}
                                                    <a class="dropdown-item" href="{{ itemUrl }}">{{ key|upper }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col">
                            <a href="https://www.facebook.com/pg/MukhuriGuesthouse" title="facebook" class="button-socicon">
                                <i class="socicon-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/mukhuri.guesthouse" title="instagram" class="button-socicon">
                                <i class="socicon-instagram"></i>
                            </a>
                            <a href="https://www.airbnb.fr/rooms/20535941" title="airbnb" class="button-socicon">
                                <i class="socicon-airbnb"></i>
                            </a>
                        </div>
                    </div>
                {% endblock %}
            </footer>
        </div>

        <!-- Modal Image -->
        <div class="modal fade" id="modalImg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img id="zoomModalImg" src="#" data-dismiss="modal">
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/assets/js/lib/jquery-3.2.1.slim.min.js"></script>
        <script src="/assets/js/lib/popper.min.js"></script>
        <script src="/assets/js/lib/bootstrap.min.js"></script>
        <script src="/assets/js/custom/mukhuri.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
